%p Welcome to Random Acts of Coffee!

%p Your coffee partner for this month is: NAME

%p Please contact FIRST_NAME to arrange a meeting sometime this month.

%p Don't forget to collect your Random Acts of Coffee card from Innovation and Business Transformation to receive a free coffee and go into the draw for some great prizes at the end of the year.  Just make sure that you get your coffee partner to sign your card when you meet.

%p For more information go to BAZ and search 'coffee'

%p COFFEE - CONVERSATIONS - COLLABORATION
