%p Enter department details in the below form:

= form_for(@department, url: admin_departments_path, method: :post) do |f|
  .form-group
    = f.label :name
    = f.text_field :name

  = f.submit 'Add'
