.row
  .col-md-5
    %p.lead Add a new department
    %hr
    = form_for(@department, url: admin_departments_path, method: :post) do |f|
      = render partial: 'form_fields', locals: { f: f }

      = f.submit 'Add department', class: 'btn btn-info'
