<div class="row">

  <div class='col-md-5'>
    <p class="lead">Join random acts of coffee</p>
    <hr />
    <%= form_for(@user) do |f| %>
      <%= render partial: "form_fields", locals: {f: f, user: @user} %>
      <%= f.submit 'Add me', class: 'btn btn-info btn-lg' %>
    <% end %>

  </div>
</div>
