<p class="lead">Thanks for joining!</p>

<p>
  There's nothing else you need to do now. You'll receive your coffee pairing by email
  every second Monday.
</p>

<br />

<%= image_tag 'http://i.giphy.com/oa0xq2CoMMSpq.gif' %>
