<p class="lead">Welcome to Random Acts of Coffee!</p>

<p>Thanks for signing up!</p>

<p>We'll email you to arrange your first coffee catch-up in March.</p>

<br />

<%= image_tag 'http://i.giphy.com/oa0xq2CoMMSpq.gif' %>
