%h2 Random Acts of Coffee &ndash; FAQ

.row
  .col-md-6
    %h3 What is it?

    %p Random Acts of coffee seeks to partner workers who don’t know each other to have an informal conversation over a beverage of their choice. 
    %p Every month you will receive an email with the name and email address of your coffee person. 

    %h3 Why are we doing this?

    %p We are doing this to support informal conversations as a means of improving collaboration across Boroondara.

    %p Some of the Boroondara Leadership program participants investigated informal collaboration as their group project. It was interesting to note that human beings collaborate through personal connection and informal relationships. 


    %h3 How do I sign up?

    %p #{link_to 'Sign up to Random Acts of Coffee here', new_user_path}.

    %h3 How is my coffee person assigned?

    %p Randomly.

    %h3 How do I know who I should meet?

    %p At the start of every month you will receive an email with your Random Acts of Coffee person. It is up to you to make contact with that person and arrange the meeting within that month.

    %h3 What should I talk about?

    %p The topic of the conversation is up to you. Simple questions about each other should get the conversation rolling.


    %h3 Where should I meet?

    %p It’s up to you. Suggestions include:

    %ul
      %li Coffee shop near your office
      %li Coffee shop half way between your locations
      %li Get a drink and walk to a nearby park

    %h3 How often should I meet?

    %p Monthly. 

    %h3 How long should I meet for?

    %p 30 minutes.

    %h3 How do I get a free coffee?

    %p Pick up your Random Acts of Coffee frequent meeting card from Innovation and Business Transformation.  Get your Random Acts of Coffee person to sign your card. After three meetings, contact Innovation and Business Transformation with your signed card for your free coffee voucher.

    %h3 What happens if I lose my frequent meeting card?

    %p Come and get another card from Innovation and Business Transformation.  It should be easy to get your new friends to resign your card.

    %h3 How do I win the Random Acts of Coffee grand prize?

    %p Bring your frequent meeting card with nine signatures to the end of year Random Acts of Coffee celebration and put your card into the grand prize draw.

    %h3 What do I do if I can’t participate in a particular month?

    %p Simply remove your name from within the Random Acts of Coffee App. 

    %h3 What do I do if I don’t like coffee?

    %p Choose another beverage of your choice.

    %h3 What if I don’t want to go it alone?

    %p Get a colleague who is also participating in Random Acts of Coffee to come with you and bring their coffee partner.  Four people should really get the conversation going.

    %h3 Where do I park?

    %p Some possible options:
    %ul
      %li If you are at the same work location, walk to a coffee shop or park.
      %li If you are at different work locations, meet half way between these locations or go to the location likely to have more parking.

