
.row
  .col-md-8
    %h1 Random acts of coffee
    %p Random acts of coffee is based on a simple idea that having a chat and getting to know your colleagues over a drink builds stronger working relationships and improves collaboration across your organisation.  

    %p It’s about meeting new people within your organisation in an informal setting, which has been shown to successfully break down those pesky silos that often build up over time.

    %p The idea is based off research that points to personal connections and informal relationships as a key success factor in strengthening an organisation’s capacity to collaborate and innovate. 

    %h3 How it works

    %p The ‘Random Acts Of Coffee’ (RAOC) app generates random pairings of participating staff members.  RAOC connects the paired participants telling them the name, department and email address of their partner for the week / fortnight / month.  Then it’s up to the pairs to organise where and when to meet!

    %p The RAOC app also allows participants to easily sign up online, helps manage the status of each participant, and ensures that pairings are always with a different person.

    %p
      If you’re interested in knowing more about the initiative or having a look at how the RAOC app works please email
      = mail_to 'contact@randomacts.coffee'
