.row
  .col-md-8
    %p.lead
      Strong relationships at work are key to happy, engaged and successful teams.
      Random acts of coffee supports you to connect with colleagues through informal catch-ups.
      These meetups are a great way to take some time out, get to know each
      other and form genuine relationships with your colleagues.

    %hr 

    %h4 How it works
    %p Every two weeks you'll receive an email with the name and email address of your pairing. The pairing is randomly assigned and avoids repeats. From there it's up to the both of you to organise a time that works for a catch up. We recommend you schedule 30 minutes for your meet-up, but of course you are welcome to spend longer if the convo (and coffee) keeps on flowing 😊

    %h4 How do I join?
    %p= link_to "Join here!", new_user_path, class: 'btn btn-info'

    %h4 How do I pause meet-ups?
    %p
      If you need to snooze your pairing for a while, email 
      = mail_to 'tas@myob.com' + "."
      Email her again when you want to resume.

    %h4 Some convo starters
    %p Here's some inspiration to get the conversation going&hellip;

    %ul
      %li What was the last movie you saw in an actual theatre?!
      %li Where was your last overseas holiday?
      %li If you had unlimited budget, how would you fit out your home workspace?
      %li What was your favourite TV show growing up?
      %li What is your most used emoji?
      %li If you could be immediately transported back in time, what year would it be?
      %li What is your favourite virtual video call background?

