%p There are currently #{@user_list.count} users

%p This is a full list of users currently signed up to RAOC

%table.table.table-striped
  %tr
    %th First name
    %th Last name
    %th Email
  - @user_list.each do |user_object|
    %tr
      %td #{user_object.first_name}
      %td #{user_object.last_name}
      %td #{user_object.email}
